* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  *::selection {
    background-color: #006241;
    color: #fff;
  }
  
  /* HEADER */
  .header-container {
    background-color: #006241;
    box-shadow: 3px 8px 15px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header-container__img {
    width: 40px;
  }
  
  .header-nav,
  .header-login {
    display: none;
  }

  .header-login .IconUser {
    width: 35px;
    height: 35px;
    color: #fff;
    cursor: pointer;
  }

  .header-container__user__mobile .Icon{
    width: 35px;
    height: 35px;
    color: #fff;
    cursor: pointer;
  }
  
  .header-container__user__mobile {
    color: #fff;
    font-size: 25px;
  }
  
  /* MAIN */
  .main-container {
    padding: 15px;
    margin-top: 10px;
  }
  
  .main-container__principal {
    display: flex;
    flex-direction: column;
  }
  
  .main-container__titulo {
    font-size: 50px;
    font-weight: bolder;
  }
  .main-container__titulo span {
    color: #006241;
  }
  .main__description {
    margin: 15px 0;
  }
  .main-container__logo {
    display: none;
  }
  
  /* GALLERY */
  .gallery-container {
    background-color: #006241;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  .gallery-container__img {
    height: 500px;
    width: 100%;
    margin-top: 15px;
  }
  
  /* CONTACT */
  .contact-container {
    background-color: #141414;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact__titulo {
    color: #006241;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
  }
  
  .contact__form {
    background-color: #006241;
    padding: 15px 10px;
    width: 100%;
  }
  
  .contact__form textarea {
    resize: none;
  }
  
  .contact__label {
    display: block;
    color: #fff;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .contact__input,
  .contact__input-mensaje {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .contact__input::placeholder,
  .contact__input-mensaje::placeholder {
    font-size: 16px;
    color: #006241;
  }
  
  .contact__input,
  .contact__input-mensaje {
    display: block;
    padding: 5px 10px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 15px;
  }
  
  .contact__input:focus,
  .contact__input-mensaje:focus {
    background-color: #000;
    color: #fff;
  }
  
  .contact__button {
    background-color: inherit;
    border: 2px solid #fff;
    display: block;
    width: 45%;
    border-radius: 15px;
    padding: 8px 10px;
    font-size: 22px;
    color: #fff;
    margin: auto;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .contact__button:hover {
    background-color: yellow;
    color: #000;
  }

  /* CARDS */
  .cards-container {
    background-color: #fff;
    width: 100%;
    padding: 25px 40px;
    position: relative;
  }
  
  .card {
    color: #fff;
    background-color: #006241;
    margin-top: 35px;
    padding-bottom: 10px;
  }
  
  .card__titulo {font-size: 26px;}
  
  .card__parrafo {font-size: 16px;}
  
  .card__titulo span {color: yellow;}
  
  .card__img {width: 100%;}
  
  .card__button {
    background-color: inherit;
    border: 2px solid #fff;
    padding: 10px 20px;
    width: 80%;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    margin: 10px 25px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .card__button:hover {
    background-color: yellow;
    color: #000;
    border: 2px solid yellow;
  }
  
  .cards__container-text {
    padding: 0 15px;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 25px 25px;
    color: #fff;
    justify-content: space-around;
  }
  
  .footer-container__login {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin: 15px 0px;
  }
  
  .footer-container__redes-sociales i {
    padding: 0 10px;
    font-size: 20px;
  }
  
  .footer-container__contacto {
    font-size: 22px;
    margin: 10px 0px;
  }
  
  .footer-container__link,
  .footer-container__redes-sociales,
  .footer-container__contacto-link {
    color: #006241;
    text-decoration: none;
  }
  
  .WhatsAppIcon:hover {color: #25d366;}
  .FacebookIcon:hover {color: #4267b2;}
  .TwitterIcon:hover {color: #1da1f2;}
  
  @media (min-width: 768px) {
    .header-container__user__mobile {
      display: none;
    }
  
    .header-login {
      display: block;
    }
  
    .header-container__img {
      width: 45px;
    }
  
    .header-login i {
      font-size: 28px;
      color: #fff;
    }
  
    .header-nav {
      display: block;
      justify-content: space-between;
    }
  
    .header-nav__link {
      text-decoration: none;
      margin-left: 10px;
      color: #fff;
    }
  
    .main-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px 60px;
    }
  
    .main-container__principal {
      width: 50%;
    }
  
    .main-container__logo {
      display: block;
      width: 50%;
    }
  
    .main-container__logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .main-container__img {
      width: 80%;
    }
  
    .gallery-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .gallery-container__img {
      width: 30%;
      margin-top: 0;
    }
  
    .contact__form {
      width: 80%;
    }
  
    .cards-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .card {
      width: 45%;
    }
  
    .card__button {
      width: 45%;
      color: #fff;
      font-size: 14px;
    }
  
    .footer-container {
      flex-direction: row;
      align-items: center;
    }
  }
  
  @media (min-width: 1024px) {
    .header-container__img {
      width: 65px;
    }
  
    .header-nav {
      font-size: 22px;
    }
  
    .header-login i {
      font-size: 36px;
    }
  
    .main-container {
      justify-content: space-around;
    }
  
    .main-container__titulo {
      font-size: 75px;
    }
  
    .main__description {
      font-size: 28px;
    }
  
    .main-container__logo {
      margin-top: 30px;
      width: 700px;
    }
  
    .gallery-container__img {
      height: 630px;
      width: 30%;
      margin-top: 15px;
    }
  
    .contact__form {
      width: 800px;
    }
  
    .contact__button {
      width: 300px;
    }
  
    .card__titulo {
      font-size: 34px;
    }
  
    .card__parrafo {
      font-size: 22px;
    }
  
    .card__button {
      font-size: 18px;
    }
  }
  